.page-header {
	display: inline-block;
	margin-left: 5%;
}

.red {
	color: red;
}

#word {
	background-color: lightgrey;
}

#loaded_story{
	margin: 2% 5%;
}

#welcome {
	margin: 2% 5%;
}

.about {
	width: 50%;
}
#nav {
	padding-left: 5%;
	font-weight: bold;
}
h1 {
	font-weight: bold;
}

.dropdown {
	display: inline-block;
}

#word {
	font-size: 40px;
	border: 1px solid lightgrey;
	min-height: 60px;
	letter-spacing: 3;
	margin-top: 5%;
	width: 50%;
}

#save {
	display: inline-block;
}

#restart {
	margin-right: 5%;
}
#wpm_label {
	margin-right: 2%;
}
.controls,
.wpm {
	margin-top: 2%;
	margin-left: 3%;
/*	width: 15%;
	text-align: center;*/
}

#loaded_story {
	margin-top: 2%;
}

input#wpm.form-control {
	width: 15%;
	text-align: center;
	display: inline;
}

#wpm_label {
	margin-left: 2%;
}

p.lead.top_stories,
.reading_list,
.saved_stories {
	margin-top: 10%;
	text-align: center;
}

.reading_list_holder {
	margin-right: 5%;
}


.saved {
	color: #D46071;
}
#word > .container {
	vertical-align: middle;
	font-family: helvetica;
}
.left {
	width: 100px;
	display: inline;
}
.left, .text {
	display: inline;
}
.pivot {
	color: red;
	display: inline;
	margin: 0 -15;
}

#text {
	width: 100%;
}

.stories {
	list-style-type: none;
}

/*.glyphicon{
	padding: 20px;
	font-size: 10px;
	border: 1px solid blue;
}
*/
#red {
	color: red;
}