#nav {
	padding-left: 5%;
	font-weight: bold;
}
h1 {
	font-weight: bold;
}

#word {
	font-size: 40px;
	border: 1px solid lightgrey;
	min-height: 60px;
	letter-spacing: 3;
}
#word > .container {
	vertical-align: middle;
	font-family: helvetica;
}
.left {
	width: 100px;
	display: inline;
}
.left, .text {
	display: inline;
}
.pivot {
	color: red;
	display: inline;
	margin: 0 -15;
}

#text {
	width: 100%;
}

.stories {
	list-style-type: none;
}

.glyphicon{
	padding: 20px;
	font-size: 30px;
	border: 1px solid blue;
}

#red {
	color: red;
}