<html>
<head>
<title>NewsBurst</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.highlighttextarea.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
	<script type="text/javascript" src="{{url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
	<!--<script src="{{url_for('static', filename='jquery-ui.min.js') }}"></script> -->
	<script src="{{url_for('static', filename='jquery.highlighttextarea.js') }}"></script>	
	<script type="text/javascript" src="{{url_for('static', filename='open-spritz.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</head>
<body>
	<script type="text/javascript">
	$(document).ready(function() {
    	console.log("ready!");
		$("#go").click(function(){
			$.post( "/record_speed", $( "#wpm" ).val() );
		})

	});
	</script>
	<header>
		<div class="page-header">
			<h1>News<span class='red'>Burst</span> <small>Quickly devour the <em>New York Times</em></small></h1>
		</div>
		<div id="welcome">
				<h5>Welcome {{session['fname']}}! <a href="/logout">Click here to logout</a></h5>
		</div>
	</header>
	<div class = 'row'>
		<div class="col-xs-2 col-md-1"></div>
		<div class="col-xs-8 col-md-6">
			<p class="lead">Welcome to News<span class='red'>Burst</span>, the best tool for taking a quick pulse of the day's events, as reported by the New York Times.</p>
			<p>Click on any headline below to load a news summary into the <a href="#loaded_story">speed reading viewer</a>, then choose a speed and press play! To save the story for later, just hit the Add to Reading List button.</p>
		</div>
	</div>
	<center>
		<div id = 'loaded_story'><p class = 'lead'>Loaded Story: </p><p class = 'lead'><strong>{{session['loaded_story']['title']}}</strong></p>
		</div>
		<div id="word">
			<span class="left text"><span class="text"></span></span>
			<span class="pivot "></span>
			<span class="right "></span>
		</div>
		<input type = 'hidden' id="text" value ="{{session['loaded_story']['abstract']}}" rows="1">
	</center>
	<div class = 'row controls'>
		<center>
			<form>
				<button id="go" type="button" class="btn btn-success">Start</button>
				<button id="restart" type="button" class="btn btn-warning">Replay</button>
			</form>
			<form id = 'save' action = '/save_story' method = 'post'>
				<input type = 'hidden' name = 'story_id' value = "{{session['loaded_story']['id']}}">
				<button class="btn btn-info"> Add to Reading List   <span class="glyphicon glyphicon-saved" aria-hidden="true"></button>
				<label id = 'wpm_label' for="wpm">Words per minute:</label>
				<input id="wpm" class="form-control" name = 'wpm' type="number" value="450" size="14"/>
			</form>
			<div id = 'stats'>
				<p class = 'lead'>Your Average Speed: {{average_user_speed}} wpm</p>
				<p class = 'lead'>Average News<span class = 'red'>Burst</span> Speed: {{total_avg_speed}} wpm</p>
			</div>
		</center>
	</div>
	<div class = 'row'>
		<div class="col-xs-1 col-md-1"></div>
		<div id = 'story_holder' class="col-xs-5 col-md-4">
			<p class = 'lead top_stories'><strong>Top Stories</strong></p>
			<center>
				<form action = '/stories/import' method 'get'>
					<button class="btn btn-default"> Refresh Stories</button>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Pick a category <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a tabindex="-1" href="#">Arts</a></li>
						<li><a tabindex="-1" href="#">Books</a></li>
						<li><a tabindex="-1" href="#">Business</a></li>
						<li><a tabindex="-1" href="#">Fashion &amp; Style</a></li>
						<li><a tabindex="-1" href="#">Food</a></li>
						<li><a tabindex="-1" href="#">Health</a></li>
						<li><a tabindex="-1" href="#">Movies</a></li>
						<li><a tabindex="-1" href="#">Science</a></li>
						<li><a tabindex="-1" href="#">Sports</a></li>
						<li><a tabindex="-1" href="#">Technology</a></li>
						<li><a tabindex="-1" href="#">Travel</a></li>
						<li><a tabindex="-1" href="#">U.S.</a></li>
						<li><a tabindex="-1" href="#">Week in Review</a></li>
						<li><a tabindex="-1" href="#">World</a></li>
						</ul>
					</div>
				</form>
			</center>
			<table class="table table-hover">
				{% for story in stories %}
					<tr><td><a href="/load_story/{{story['id']}}">{{story['title']}}</a></td></tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-xs-1 col-md-1"></div>
		<div class="col-xs-5 col-md-4 reading_list_holder">
			<p class = 'lead reading_list'><strong>{{session['fname']}}'s Reading List</strong></p>
			<center>
				<form action = '#favorites_holder'>
					<button class="btn btn-default">See Most-Saved Stories</button>
				</form>
			</center>
			<table class="table table-hover">
				{% for story in saved_stories %}
					<tr><td><a class = 'saved' href="{{story['url']}}">{{story['title']}}</a></td></tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class = 'row'>
	<div class="col-xs-2"></div>
	<div class="col-xs-8" id = 'favorites_holder'>
		<p class = 'lead saved_stories'><strong>Most Saved Stories</strong></p>
		<table class="table table-hover">
			<tr>
				<th>
					Headline
				</th>
				<th>
					Total Saves
				</th>
				<th>
					Actions
				</th>
			</tr>
			{% for story in popular_stories %}
			<tr>
				<td>
					<a href="{{story['url']}}">{{story['title']}}</a>
				</td>
				<td>
					{{story['saves']}}
				</td>
				<td>
					<a href="/load_story/{{story['id']}}">Load Into Speed Reader</a>
				</td>
			</tr>
			{% endfor %}
		</ul>
	</div>
</body>
</html>